<div class="container">
    <h2>Beta invitations admin</h2>
    <table class="table table-striped table-hover" style="background:#fff">
        <thead>
            <tr>
                <th style="width:30px">#</th>
                <th>Email</th>
                <th style="width:85px"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="invit in invitations.processing">
                <td>{{ invit.id }}</td>
                <td>{{ invit.email }}</td>
                <td><a ng-click="acceptInvit(invit)" class="btn btn-success">Accept</a></td>
            </tr>
        </tbody>
    </table>
</div>
