<div class="container">
    <h2>{{'INVIT_FRIENDS'|translate}}</h2>
    <table class="table" ng-show="betaInvitations.invited.length">
        <thead>
            <tr>
                <th>#</th>
                <th>{{'EMAIL'|translate}}</th>
                <th>{{'HAS_ACCEPTED'|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="invit in betaInvitations.invited" ng-class="invit.hasAccepted ? 'success' : 'danger'">
                <td>{{ $index + 1 }}</td>
                <td>{{ invit.email }}</td>
                <td>{{ invit.hasAccepted ? ('YES'|translate) : ('NO'|translate)}}</td>
            </tr>
        </tbody>
    </table>
    <h4 ng-hide="betaInvitations.invited.length">{{'INVITING_FRIENDS'|translate}}</h4>
    
    <form class="form-inline" role="form" ng-show="betaInvitations.remaining">
        <div class="form-group beta-email">
            <div class="input-group">
                <div class="input-group-addon">@</div>
                <input class="form-control" type="email" placeholder="Enter email" ng-model="email" id="email" auto-fill-sync required>
            </div>
        </div>
        <button ng-click="addBeta()" type="submit" class="btn btn-primary">{{'ADD'|translate}}</button>
    </form>
    <h4 ng-hide="betaInvitations.remaining">{{'NO_MORE_INVITS'|translate}}</h4>
    <h5 translate="REMAINING_INVITS" translate-value-number="{{betaInvitations.remaining}}"></h5>
</div>
