<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="login-form">
                <div class="form-group">
                    <h2>{{shace.user.email}}</h2>
                </div>
                <div class="form-group">
                    <label>{{'PASSWORD'|translate}}</label>
                    <input ng-model="password" type="password" class="form-control">
                </div>
                <div class="form-group">
                    <label>{{'FIRSTNAME'|translate}}</label>
                    <input ng-model="shace.user.first_name" type="text" class="form-control">
                    <label>{{'LASTNAME'|translate}}</label>
                    <input ng-model="shace.user.last_name" type="text" class="form-control">
                </div>
                 <div class="form-group">
                    <label>{{'BIRTH'|translate}}</label>
                    <input ng-model="birth_date" type="date" class="form-control">
                 </div>
                <button ng-click="saveUser()" type="submit" class="btn btn-default">{{'SAVE'|translate}}</button>
            </form>        
        </div>
    </div>
</div>
