
@import (once) '../bower_components/bootstrap/less/bootstrap.less';

html, body {
    height: 100%;
}

body {
    background: #F7F7F7;
}

body.home {
    background: #fff;
}

a {
    color: #6FA818;
    cursor: pointer;
    
    &:hover {
        text-decoration: none;
        color: #4D790B;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

.beta-vignette {
	position: fixed;
	bottom: 50px;
	right: 0px;
	line-height: 48px;
	color: #FFFFFF;

	&:hover {
		.beta-infos {
			max-width: 220px;
		}
	}

	.beta-icon {
		background-color: #9AC73B;
		border-radius: 24px 0px 0px 24px;
		padding-left: 10px;
		font-weight: bold;
		
		i {
			padding: 0px 8px;
			font-size: 20px;
		}

	}
	
	.beta-infos {
		transition: max-width 0.6s;
		background-color: #9AC73B;
		max-width: 0;
		padding: 0;
		height: 48px;

		a {
			padding-right: 10px;
			color: #FAFAFA;
			font-weight: bold;
			word-wrap: break-word;
			word-break: break-all;

			&:hover {
				color: #FFF;
			}			
		}
	}
}

.loading-indicator {
    width: 150px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -75px 0px 0px -75px;
    border-radius: 10px;
    text-align: center;
    .box-sizing(border-box);
    padding: 30px;
    color: #fff;
    font-size: 18px;
}

.loading-indicator-icon {
    font-size: 60px;
    margin-bottom: 16px;
}

/*
 * Editable element
 */
 
.editable-content {
    position: relative;
}

.editable-content-edit-button {
    display: none;
    margin-left: 10px;
}

.editable-content.enabled {
    cursor: pointer;
    
    &:hover .editable-content-edit-button {
        display: inline-block;
    }
}

.editable-content.editing:hover .editable-content-edit-button {
    display: none;
}

.editable-content-cancel-button {
    .btn-default;
}

.editable-content-validate-button {
    .btn-primary;
}

/*
 * File input
 */
 
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
 

.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    line-height: 50px;
    padding: 0px 5px;
    font-size: 18px;
    background: #fff;
    border-bottom: 1px solid #D8D8D8;

    .home-link {
        .pull-left;
        
        .icon {
            height: 40px;
        }
    }
    
    .user-account {
        .pull-right;
    }

    .user-account a {
        color: #4d4d4d;
    }
}

body.home header {
    border: none;
}

.content {
    position: relative;
    height: 100%;
    padding-top: 51px;
}

.notifications-container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2000;
    
    .alert {
        width: 320px;
        margin: 10px;
        transition:all linear 0.2s;
    }
    
    .alert.ng-leave.ng-leave-active,
    .alert.ng-enter {
        opacity: 0;
    }
    
    .alert.ng-enter.ng-enter-active,
    .alert.ng-leave {
        opacity: 1;
    }
}

.home-container {

    position: relative;
    top: 10%;
    margin: auto;
    max-width: 510px;
    max-height: 500px;
    padding: 0 10px 10px 10px;
        
    .main-logo {
        width: 100%;
        max-height: none;
    }
    
    .token-input-container {
        position: relative;
        width: 100%;
        max-width: 490px;
        margin: 35px auto 0px auto;
    }
    
    .token-input-loading-indicator {
        position: absolute;
        right: 0px;
        
        .loading-indicator-icon {
            font-size: 26px;
            line-height: 42px;
            margin-right: 8px;
        }
    }

    .token-input {
        width: 100%;
        display: block;        
        font-size: 18px;
        text-align: left;
        padding: 8px 38px 6px 10px;
        border-radius: 3px;
        border: 1px solid #9AC73B;
        transition: box-shadow 0.5s;

        &:focus, &:active {
            outline: none;
            box-shadow: 0 0 40px rgba(188, 232, 103, 0.3);
        }
    }
    
    .token-input + .dropdown-menu {
        position: static;
        width: 100%;
        max-width: 490px;
        
        &> .active a {
            background-color: #D4E9A7;
            color: #333;
        }
    }
    
    .private-event-link {
        text-align: center;
        margin-top: 15px;
        font-size: 18px;
    }
}

.row-centered {
    text-align:center;
    margin-bottom: 85px;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.home-image {
    width: 80%;
}

.more {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
}

.login {
    position: relative;
    top: 10%;
    max-width: 450px;
    padding: 25px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    
    .login-or {
        position: relative;
        font-size: 18px;
        color: #aaa;
        margin-top: 10px;
                margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .span-or {
        display: block;
        position: absolute;
        left: 50%;
        top: -2px;
        margin-left: -25px;
        background-color: #fff;
        width: 50px;
        text-align: center;
    }
    
    .hr-or {
        background-color: #cdcdcd;
        height: 1px;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .forgot-password, .remember-me {
        .pull-right;
    }
        
    .login-btn {
         .btn;
         .pull-left;
         width: 80px;
         background: #6FA818;
         color: #fff;
         
         &:hover {
             color: #fff;
             background: #4D790B;
         }
    }
    
    .signup-btn {
         .btn;
         .pull-left;
         width: 120px;
         background: #6FA818;
         color: #fff;
         
         &:hover {
             color: #fff;
             background: #4D790B;
         }
        margin-left: 10px;
    }

    
}


/*
 * Event page
 */
 
.event-header {
    width: 100%;
    background: #FCFCFC;
    border-bottom: 1px solid #D8D8D8;
    
    .event-infos {
        .make-md-column(6);
    }
    
    .event-name {
        font-size: 22px;
        margin-top: 8px;
        margin-bottom: 2px;
        line-height: 40px;
    }
    
    .event-description {
        min-height: 34px;
    }
    
    .event-actions {
        .make-md-column(6);
        padding-top: 2px;
        
        .event-action {
            .clearfix;
            margin: 10px 0;
        }
        
        .privacy-button, .share-button {
            .btn;
            display: block;
            float: right;
        }
        
        .privacy-button {
            .btn-primary;
        }
        
        .share-button {
            .btn-default;
        }
    }
}

.add-medias-btn {
    display: block;
    float: right;
    margin-top: 10px;    
    margin-right: 15px;
}

.bucket-breadcrumb {
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 7px;
}

.event-bucket {
    margin-top: 10px;
    
    &:last-of-type {
        margin-bottom: 20px;
    }
    
    .bucket-header {
        width: 100%;
        background: #E7E7E7;
        padding: 8px 0;
        margin-bottom: 10px;
        
        .bucket-link {
            margin: 0px;
            font-size: 16px;
            font-weight: normal;
            color: #333;
        }
    }
    
    .bucket-row {
        margin-bottom: 10px;
    }
    
    .bucket-medias {
        display: table;        
    }
    
    .bucket-row {
        display: table-row;
    }    

    .bucket-media {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    
    .media-thumbnail {    
        border: 3px solid #fff;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        margin: 10px 0px;
    }
}

.privacy-modal {

    padding: 0px;

    /* Mode selection view */
    
    .privacy-mode {
        position: relative;
        padding: 20px 25px;
        margin: 10px;
        background: #eee;
        border-radius: 6px;
        cursor: pointer;
        
        &.selected {
            margin: 9px;
            border: 1px solid #CECECE;
        }
        
        .config-btn {
            .btn;
            .btn-sm;
            .btn-default;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
    
    .privacy-mode-input {
        display: none;
    }
    
    .privacy-mode-label {
        font-size: 20px;
        margin: 0;
        position: relative;
        left: 40px;
    }
    
    .privacy-mode-label:before {
        content: "";  
        display: block;
        position: absolute;
        left: -45px;
        top: 14px;
        
        width: 22px;
        height: 22px;        
        margin-right: 25px;
        background-color: #aaa;  
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);        
        border-radius: 16px;
    }
    
    .privacy-mode-input:checked + .privacy-mode-label:before {
        content: "\2022";  
        color: #f3f3f3;  
        font-size: 45px;  
        text-align: center;  
        line-height: 21px;
    }
    
    .privacy-mode-desc {
        position: relative;
        left: 40px;
        margin-bottom: 4px;
    }
    
    /* Mode form view */
    
    .privacy-form {
        padding: 10px 10px 0px 10px;
    }
    
    .privacy-form-title {
        margin: 0;
    }
    
    /*
     * Permissions options view
     */
    
    .permissions-table {
        margin-bottom: 0;
    }
    
    .permissions-table-user {
        vertical-align: middle;
    }
    
    .permissions-table-action {
        width: 45px;
    }
}

/*
 * Upload page
 */
 
.file-upload-row {
    margin-bottom: 12px;
}
 
.file-upload-container {
    .make-md-column(3);
}

.file-upload-wrapper {
    background: #FCFCFC;
    padding: 10px;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
}

.file-upload-progressbar {
    margin-bottom: 0;
}

.file-upload-thumbnail {
    text-align: center;
}

/*
 * Media page
 */
 
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height : 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0.0, 0.0, 0.0, 0.8);
}

.media-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 300px;
    bottom: 0;
    padding: 10px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.media-information {
    position: absolute;
    top: 0;
    width: 300px;
    right: 0px;
    bottom: 0;
    background-color: #fff;
    padding: 15px;
    overflow: scroll;
}

.media-wrapper {
    margin: auto;
    position: relative;
}

.media-nav-area {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    color: #fff;
    font-size: 40px;
    text-stroke: 2px rgba(0, 0, 0, 0.6);
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
    
    .fa {
        position: absolute;
        top: 48%;
    }
}

.media-wrapper:hover .media-nav-area {
    opacity: 0.3;
    
    &:hover {
        color: #fff;
        opacity: 0.9;
    }
}

.media-nav-prev {
    right: 50%;
    
    .fa {
        left: 10px;
    }
}

.media-nav-next {
    left: 50%;
    
    .fa {
        right: 10px;
    }
}

.media-caption {
    background-color: rgba(0.0, 0.0, 0.0, 0.8);
    color: #DDDDDD;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
    
    .media-wrapper:hover & {
        opacity: 1.0;
    }
}

.media-comment {
    word-break: break-word;
    background-color: #efefef;
    margin-bottom: 5px;
    padding:  10px;
    position: relative;
    
    p {
        padding: 0;
        margin: 0;
    }
}

.media-comment-delete {
    position: absolute;
    top: 0;
    right: 2px;
}

.media-comment-username {
    font-weight: bold;
}

.comment-input {
    width: 100%;
}

.media-description {
    color: #444444;
    font-size: 17px;
    padding-bottom: 10px;
}

.media-exit {
    color: #DDDDDD;
    position: absolute;
    z-index: 15;
    
    .fa {
        font-size: 1.5em;
    }
}

.media-exit:hover {
    color: #FFFFFF;
}

.media-tags-container {
    margin-bottom: 20px;
}

.media-tags-base .tags .tag-item {
  margin: 2px;
  padding: 0 5px;
  display: inline-block;
  float: left;
}

.media-tags-base .tags .tag-item .remove-button {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  font: bold 16px Arial, sans-serif;
}

.media-tags-base .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.media-tags .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.media-tags-base .tags {
  padding: 0px;
  overflow: hidden;
  word-wrap: break-word;
  border: 0px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.media-tags .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.media-tags .tags .tag-item {
  background: none;
  border: none;
  height: auto;
  .label;
  .label-success;
}

.media-tags .tags .tag-item.selected {
  background: none;
  border: none;
  height: auto;
  .label;
  .label-danger;
}

.media-tags .tags .tag-item .remove-button {
  background: transparent;
  color: #fff;
}

.media-tags .tags .tag-item .remove-button:active {
  background: transparent;
  color: #fff;
}

.media-tags .tags .media-tag-edit {
    color: #5cb85c;
    background: #fff;
    border: #000 1px;
}

.media-tags .tags .media-tag-edit .remove-button {
    color: #5cb85c;
    margin: 0px;
}

.media-tags .tags .media-tag-edit .remove-button:active {
    color: #369236;
}

.beta-email {
    width: 315px;
}