<div class="container">
    <file-select class="add-medias-btn" select="uploadMedias(files)">Add medias</file-select>
    <div class="row">    
        <ol class="breadcrumb bucket-breadcrumb">
            <li>
                <i class="fa fa-calendar"></i>
            </li>
            <li ng-repeat="node in breadcrumb">
                <a ng-if="node.id != bucket.id" ui-sref="event.medias.bucket({bucketId: node.id})">
                    <date-interval begin="node.first" end="node.last" full="true">
                </a>
                <span ng-if="node.id == bucket.id">
                    <date-interval begin="node.first" end="node.last" full="true">
                </span>
            </li>
        </ol>
    </div>
</div>
<!-- If bucket has no children, display medias -->
<div ng-if="!bucket.children.length && bucket.medias">
    <div class="event-bucket">
        <div class="container bucket-medias" ng-init="bucketRows = (bucket.medias | splitArray:4)">
            <div class="bucket-row" ng-repeat="row in bucketRows">
                <div class="bucket-media" ng-repeat="media in row">
                    <a ng-href="#/events/{{event.token}}/medias/{{media.id}}">
                        <img class="media-thumbnail" ng-src="{{media.image.small}}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Loop over event bucket children -->
<div ng-if="bucket.children.length">
    <div class="event-bucket" ng-repeat="bucket in bucket.children">
        <div class="bucket-header">
            <div class="container">
                <a class="bucket-link" ui-sref="event.medias.bucket({bucketId: bucket.id})"><date-interval begin="bucket.first" end="bucket.last" full="fullBucketInterval"></a>
            </div>
        </div>
        <div class="container bucket-medias" ng-init="bucketRows = (bucket.medias | splitArray:4)">
            <div class="bucket-row" ng-repeat="row in bucketRows">
                <div class="bucket-media" ng-repeat="media in row">
                    <a ng-href="#/events/{{event.token}}/medias/{{media.id}}">
                        <img class="media-thumbnail" ng-src="{{media.image.small}}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>