<div class="event-header">
    <div class="container">
        <div class="event-infos">
            <h1 class="event-name"><editable model="event.name" on-edit="saveInfos()" enabled="canEditInfos()" placeholder="Enter event name..."></editable></h1>
            <p class="event-description"><editable model="event.description" on-edit="saveInfos()" enabled="canEditInfos()" placeholder="Enter event description..."></editable></p>
        </div>
        <div class="event-actions">
            <div class="event-action">
                <button class="privacy-button">
                    <i class="fa fa-lock"></i>
                    Who can see this ?
                </button>
            </div>
            <div class="event-action">
                <button class="share-button">
                    <i class="fa fa-share-square"></i>
                    Share
                </button>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>