<div class="container">
    <div class="row">
        <h2>Add medias</h2>
        <file-select select="uploadMedias(files)"></file-select>
    </div>
    <div class="row">
        <h2><date-interval begin="event.bucket.first" end="event.bucket.last" full="true"></h2>
    </div>
</div>
<div ng-if="event.bucket.children">
    <div class="event-bucket" ng-repeat="bucket in event.bucket.children">
        <div class="bucket-header">
            <div class="container">
                <h3 class="bucket-name"><date-interval begin="bucket.first" end="bucket.last"></h3>
            </div>
        </div>
        <div class="container bucket-medias" ng-init="bucketRows = (bucket.medias | splitArray:4)">
            <div class="bucket-row" ng-repeat="row in bucketRows">
                <div class="bucket-media" ng-repeat="media in row">
                    <a ng-href="#/events/{{event.token}}/medias/{{media.id}}">
                        <img class="media-thumbnail" ng-src="{{media.image.small}}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="!event.bucket.children && event.bucket.medias">
    <div class="event-bucket">
        <div class="bucket-header">
            <div class="container">
                <h3 class="bucket-name">{{event.bucket.first | date:'longDate'}} - {{event.bucket.last | date:'longDate'}}</h3>
            </div>
        </div>
        <div class="container bucket-medias" ng-init="bucketRows = (event.bucket.medias | splitArray:4)">
            <div class="bucket-row" ng-repeat="row in bucketRows">
                <div class="bucket-media" ng-repeat="media in row">
                    <a ng-href="#/events/{{event.token}}/medias/{{media.id}}">
                        <img class="media-thumbnail" ng-src="{{media.image.small}}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>