<div class="overlay">
    <div class="media-container" ng-click="exit()">
        <a class="media-exit" ng-click="exit()"><i class="fa fa-times"></i></a>
        <div class="media-wrapper" ng-click="$event.stopPropagation()">
            <img ng-src="{{media.image.medium}}" />
            <a class="media-nav-area media-nav-prev" ng-show="hasPrevMedia()" ng-click="prevMedia()"><i class="fa fa-chevron-left"></i></a>
            <a class="media-nav-area media-nav-next" ng-show="hasNextMedia()" ng-click="nextMedia()"><i class="fa fa-chevron-right"></i></a>
            <div class="media-caption">
                {{media.original | date : 'medium'}}
            </div>
        </div>
    </div>
    <div class="media-information">
        <h1 class="media-description"><editable model="media.description" on-edit="saveMediaInfos()" enabled="canEditMediaInfos()" placeholder="{{'ENTER_MEDIA_DESCRIPTION'|translate}}"></editable></h1>
        <div class="media-tags-container">
            <div class="media-tags media-tags-base" ng-show="!editingTags">
                <div class="tags">
                    <ul class="tag-list">
                        <li class="tag-item ng-scope" ng-repeat="tag in media.tags">
                            <span class="ng-binding">{{tag.name}}</span>
                            <a class="remove-button ng-binding" ng-click="onTagRemovedBase($index)" ng-show="canDeleteTag(tag)">×</a>
                            <a class="remove-button ng-binding" ng-click="onTagRemovedBase($index)" ng-show="!canDeleteTag(tag)"> </a>
                        </li>
                        <li class="tag-item ng-scope media-tag-edit">
                            <a class="remove-button ng-binding" ng-click="editTags()">+</a>
                        </li>
                    </ul>
                </div>
            </div>
            <tags-input ng-model="media.tags" display-property="name" on-tag-added="onTagAdded($tag)"
                on-tag-removed="onTagRemoved($tag)" replace-spaces-with-dashes="false" class="media-tags"
                ng-show="editingTags">
            </tags-input>
        </div>
        <div>
            <div class="media-comment" ng-repeat="comment in media.comments">
                <p class="media-comment-username">{{comment.username}}</p>
                <p>{{comment.message}}</p>
                <a class="media-comment-delete" ng-show="canDeleteComment(comment)" ng-click="deleteComment(comment, $index)"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <form ng-submit="sendComment(comment)">
            <input class="comment-input" type="text" placeholder="{{'LEAVE_COMMENT'|translate}}" ng-model="comment">
        </form>
    </div>
</div>
