<div class="privacy-form">
    <h2 class="privacy-form-title">Public</h2>
    <p>By using the public privacy mode, you will modify the privacy of your event so that any user will be able to access it using the token you defined.</p>
    <div class="form-group" ng-class="{'has-error': form.tokenInvalid}" ng-show="form.showToken">
        <label for="privacy-password">Token</label>
        <input type="text" class="form-control" id="privacy-password" ng-model="form.token" required>
    </div>
</div>