<div class="privacy-mode" ng-class="{selected: privacy == 'public'}" ng-click="selectPrivacy('public')">
    <input type="radio" class="privacy-mode-input" ng-checked="privacy == 'public'">
    <label class="privacy-mode-label">{{'PUBLIC'|translate}}</label>
    <p class="privacy-mode-desc">{{'PUBLIC_DESCRIPTION'|translate}}</p>
</div>
<div class="privacy-mode" ng-class="{selected: privacy == 'protected'}" ng-click="selectPrivacy('protected')">
    <input type="radio" class="privacy-mode-input" ng-checked="privacy == 'protected'">
    <label class="privacy-mode-label">{{'PROTECTED'|translate}}</label>
    <p class="privacy-mode-desc">{{'PROTECTED_DESCRIPTION'|translate}}</p>
</div>
<div class="privacy-mode" ng-class="{selected: privacy == 'private'}" ng-click="selectPrivacy('private')">
    <input type="radio" class="privacy-mode-input" ng-checked="privacy == 'private'">
    <label class="privacy-mode-label">{{'PRIVATE'|translate}}</label>
    <p class="privacy-mode-desc">{{'PRIVATE_DESCRIPTION'|translate}}</p>
    <a ng-show="event.privacy == 'private'" ng-click="openPrivateOptions()" class="config-btn"><i class="fa fa-cog"></i></a>
</div>
