<div class="privacy-form">
    <h2 class="privacy-form-title">{{'EVENT_CONTROL'|translate}}</h2>
    <p>{{'PEOPLE_LISTED'|translate}}</p>
    <table class="table table-hover permissions-table">
        <tr ng-repeat="permission in eventUsers.permissions | filter:isNotCurrentUser">
            <td class="permissions-table-user">{{permission.email}}</td>
            <td class="permissions-table-type">
                <select class="form-control" ng-model="permission.permission" ng-change="updatePermission(permission)">
                    <option value="READ">Read</option>
                    <option value="WRITE">Write</option>
                    <option value="ADMINISTRATE">Administrate</option>
                </select>
            </td>
            <td class="permissions-table-action"><a ng-click="removeUserPermission(permission)" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
        </tr>
    </table>
    <div class="form-group" ng-class="{'has-error': form.emailInvalid}">
        <label for="add-user-input">{{'ADD_USER'|translate}}</label>
        <input ng-model="form.email" type="email" class="form-control" id="add-user-input" placeholder="{{'USER_EMAIL'|translate}}" required>
    </div>
</div>
