<div class="container">
    <div class="row">
        <h2>Upload</h2>
        <p ng-hide="uploadDone">Upload in progress, please do not leave page...</p>
        <p ng-show="uploadDone">
            Upload done, <a ui-sref="event.medias">click here</a> to go back to event page.
        </p>
    </div>
    <div class="row">
        <div class="col-md-3" ng-repeat="file in queue">
            <progressbar class="progress-striped" value="file.progress" ng-class="{active: file.progress < 100}"></progressbar>
        </div>
    </div>
</div>