<div class="login">
<!--
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
        </div>
    </div>
    <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
    </div>
-->

    <form role="form" class="clearfix" action="">
        <div class="form-group has-error has-feedback" ng-show="error">
            <label ng-show="error.code == 201" class="control-label">{{'INVALID_USER_OR_PASSWORD'|translate}}</label>
            <label ng-show="error.code == 203" class="control-label">{{'REQUEST_BETA_PROCESSING'|translate}}</label>
        </div>
        <div class="form-group">
            <label for="email">{{'EMAIL'|translate}}</label>
            <input autofocus focus-on="state.name = 'login'" tabindex="1" ng-model="email" auto-fill-sync type="email" class="form-control" placeholder="{{'EMAIL'|translate}}" id="email" required>
        </div>
        <div class="form-group">
            <a class="forgot-password" href="#">{{'FORGOT_PASSWORD'|translate}}</a>
            <label for="password">{{'PASSWORD'|translate}}</label>
            <input tabindex="2" ng-model="password" auto-fill-sync type="password" class="form-control" id="password" placeholder="{{'PASSWORD'|translate}}" required>
        </div>
        <div class="form-group">
            <a href="/signup">{{'NO_ACCOUNT'|translate}}</a>
        </div>
        <div class="checkbox remember-me">
            <label><input ng-model="rememberMe" type="checkbox">{{'REMEMBER_ME'|translate}} </label>
        </div>
        <button tabindex="3" ng-click="login()" type="submit" class="login-btn">{{'LOG_IN'|translate}}</button>
    </form>
</div>
