<div class="login">
<!--
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
        </div>
    </div>
    <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
    </div>
-->

    <form role="form" class="clearfix">
        <div class="form-group has-error has-feedback" ng-show="error && error.code == 101 && error.parameters.email == 'duplicate'">
            <label class="control-label">{{'DUPLICATE_EMAIL'|translate}}</label>
        </div>
        <div class="form-group has-success has-feedback" ng-show="error && error.code == 203">
            <label class="control-label">{{'REQUEST_BETA_PROCESSING'|translate}}</label>
        </div>
        <div class="form-group" ng-class="(error && error.code == 101 && error.parameters.email) ? 'has-error' : ''">
            <label class="control-label" for="email">{{'EMAIL'|translate}}*</label>
            <input autofocus focus-on="state.name = 'login'" tabindex="1" ng-model="email" auto-fill-sync type="email" class="form-control" placeholder="{{'EMAIL'|translate}}" id="email" required>
        </div>
        <div class="form-group" ng-class="(error && error.code == 101 && error.parameters.password) ? 'has-error' : ''">
            <label class="control-label"  for="password">{{'PASSWORD'|translate}}*</label>
            <input pattern=".{5,}" required title="{{'5_CHAR_MINIMUM'|translate}}" tabindex="2" ng-model="password" auto-fill-sync type="password" class="form-control" id="password" placeholder="{{'PASSWORD'|translate}}" required>
        </div>
        <div class="form-group" ng-class="(error && error.code == 101 && error.parameters.first_name) ? 'has-error' : ''">
            <label class="control-label" for="firstname">{{'FIRSTNAME'|translate}}*</label>
            <input pattern=".{2,}" required title="{{'2_CHAR_MINIMUM'|translate}}" tabindex="3" ng-model="firstname" auto-fill-sync type="firstname" class="form-control" placeholder="{{'FIRSTNAME'|translate}}" id="firstname" required>
        </div>
        <div class="form-group" ng-class="(error && error.code == 101 && error.parameters.last_name) ? 'has-error' : ''">
            <label class="control-label" for="lastname">{{'LASTNAME'|translate}}*</label>
            <input pattern=".{2,}" required title="{{'2_CHAR_MINIMUM'|translate}}" tabindex="4" ng-model="lastname" auto-fill-sync type="lastname" class="form-control" placeholder="{{'LASTNAME'|translate}}" id="lastname" required>
        </div>
        <div class="form-group">
            <a href="#/login">{{'ALREADY_ACCOUNT'|translate}}</a>
        </div>
        <button tabindex="5" ng-click="signup()" type="submit" class="signup-btn">{{'JOIN_BETA'|translate}}</button>
    </form>
</div>
