<!DOCTYPE html>
<html lang="en" ng-app="shace">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Shace</title>

        <link rel="icon" type="image/png" href="favicon.png">
        <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />

        <!--Font-->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">

        <!-- build:css styles/vendor.css -->
          <!-- bower:css -->
          <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
          <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
          <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css" />
          <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css({.tmp,app}) styles/styles.css -->
        <link href="styles/app.css" rel="stylesheet">
        <!-- endbuild -->
    </head>

    <body ng-controller="MainController" ng-class="{home: isHome}" ng-keydown="keyboardAction($event)">

        <!-- Header -->
        <ng-include src="'partials/layout/header.html'"></ng-include>

        <!-- Page content -->
        <div class="content" ui-view></div>
        <div ng-show="isHome">
            <hr>
            <div id="more" class="container">
                <div class="home-video">
                    <a ng-click="openVideoModal()"><img src="img/player-img.svg"></a>
                </div>
                <div class="row row-centered">
                    <div class="col-xs-6 col-centered">
                        <div class="pull-left">
                            <h2>{{ 'MAGIC_TOKEN' | translate }}<br />
                            <small>{{'MAGIC_TOKEN_DESC'|translate}}</small></h2>
                        </div>
                    </div>
                    <div class="col-xs-3 col-centered">
                        <img class="pull-left home-image" src="img/magic.svg">
                    </div>
                </div>
                <div class="row row-centered">
                    <div class="col-xs-3 col-centered">
                        <img class="pull-left home-image" src="img/security.svg">
                    </div>
                    <div class="col-xs-6 col-centered">
                        <div class="pull-left">
                            <h2>{{'FULL_CONTROL'|translate}}<br />
                            <small>{{'FULL_CONTROL_DESC'|translate}}</small></h2>
                        </div>
                    </div>
                </div>
                <div class="row row-centered">
                    <div class="col-xs-6 col-centered">
                        <div class="pull-left">
                            <h2>{{'SIMPLICITY'|translate}}<br />
                            <small>{{'SIMPLICITY_DESC'|translate}}</small></h2>
                        </div>
                    </div>
                    <div class="col-xs-3 col-centered">
                        <img class="pull-left home-image" src="img/photo.svg">
                    </div>
                </div>
                <div class="row row-centered">
                    <div class="col-xs-3 col-centered">
                        <img class="pull-left home-image" src="img/camera.svg">
                    </div>
                    <div class="col-xs-6 col-centered">
                        <div class="pull-left">
                            <h2>{{'EVERYWHERE'|translate}}<br />
                            <small>{{'EVERYWHERE_DESC'|translate}}</small></h2>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>

        <!--Beta vignette-->
		<div class="beta-vignette">
			<div class="beta-icon pull-left">
                <i class="beta-icon-bug fa fa-bug"></i>
                {{'BETA'|translate}}<i class="beta-arrow fa fa-angle-double-right"></i>
            </div>
			<div class="beta-infos pull-left">
				<a class="beta-link" ng-hide="shace.user" href="#/signup">
					<i class="fa fa-user"></i>
					{{'REQUEST_BETA'|translate}}
				</a>
				<a class="beta-link" ng-show="shace.user" href="#/invits">
					<i class="fa fa-user"></i>
					{{'INVITE_SOME_FRIENDS'|translate}}
				</a>
                <a class="beta-link" ng-click="openFeedbackForm()">
                    <i class="fa fa-comment"></i>
                    {{'SEND_FEEDBACK'|translate}}
                </a>
			</div>
			<div class="clearfix"></div>
		</div>

		
        <!-- Global notifications -->
        <ng-include src="'partials/layout/notifications.html'"></ng-include>

        <!--[if lt IE 9]>
            <script src="bower_components/respondJS/dest/respond.src.js"></script>
            <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
            <script src="bower_components/html5shiv/dist/html5shiv-printshiv.js"></script>
            <script src="bower_components/es5-shim/es5-shim.js"></script>
            <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <!-- build:js js/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/autofill-event/src/autofill-event.js"></script>
        <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) js/scripts.js -->
        <script src="js/combined-scripts.js"></script>
        <!-- endbuild -->
    </body>
</html>
