<div class="home-container">
    <form role="form" ng-submit="accessEvent(inputToken)">
        <img class="main-logo" src="img/shace.svg">
        <div class="token-input-container">
            <div class="token-input-loading-indicator" ng-show="inputTokenActionLoading">
                <i class="loading-indicator-icon fa fa-spinner fa-spin"></i>
            </div>
            <input class="token-input" type="text" placeholder="Type in your :token and let the magic happen..." autofocus
                ng-model="inputToken"
                typeahead="action as action.token for action in getInputTokenActions($viewValue)"
                typeahead-loading="inputTokenActionLoading"
                typeahead-template-url="partials/home/input-token-action.html"
                typeahead-on-select="inputTokenActionSelected()"
            >
        </div>
        <div class="private-event-link">
            or <a ng-click="createEvent('private')">create a private event</a>
        </div>
    </form>
</div><!-- /.container -->

<div class="more">
    <a ng-click="gotoBottom()">Learn more <span class="fa fa-chevron-down"></span></a>
</div>