<a class="input-token-action">
    <div ng-switch on="match.model.type">
        <div ng-switch-when="create">
            {{'CREATE_NEW'|translate}} <strong>{{match.model.token}}</strong>
        </div>
        <div ng-switch-when="create-private">
            {{'THE_TOKEN'|translate}} <strong>{{match.model.token}}</strong> {{'CREATE_PRIVATE'|translate}}
        </div>
        <div ng-switch-when="access">
            <div ng-show="match.model.privacy == 'protected'">
                <i class="fa fa-lock"></i>
                {{'ACCESS_PROTECTED'|translate}} <strong>:{{match.model.token}}</strong>
            </div>
            <div ng-hide="match.model.privacy == 'protected'">
                {{'ACCESS_EVENT'|translate}} <strong>:{{match.model.token}} - {{match.model.event.name}}</strong>
            </div>
        </div>
    </div>
</a>
